                    <tr>
                      <th style="width: 80px"><%= qa_suite.suite_name %></th>
                      <th style="width: 40px"><%= qa_suite.branch  %></th>
                      <th style="width: 40px"><%= qa_suite.build_type  %></th>
                      <th style="width: 60px"><%= qa_suite.start_time  %></th>
                      <th style="width: 60px"><%= qa_suite.end_time  %></th>
                      <th style="width: 40px">
                        <% if qa_suite.failed_numnber != 0 %>
                          <span>
                            <%= link_to "Passed", qa_suite_path(qa_suite.id), class: "btn btn-danger" %>
                          </span>
                        <% elsif %>
                          <span>
                            <%= link_to "Failed", qa_suite_path(qa_suite.id), class: "btn btn-success" %>
                          </span>
                        <% end %>
                      </th>
                      <th style="width: 20px"><%= qa_suite.pass_number %></th>
                      <th style="width: 20px"><%= qa_suite.failed_numnber %></th>
                    </tr>