<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'Globe.ico' %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TH QA Dashboard | <%= yield(:title) %></title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

</head>

<body>
			<body class="hold-transition skin-blue sidebar-mini">
				<div class="wrapper">
					<%= render 'layouts/header' %>
					<%= render 'layouts/sidebar' %>
				    <div class="content-wrapper">
				    	<!-- Content Header -->
				        <section class="content-header">
						          <h1>
						            HomePage
						            <small>DashBoard</small>
						          </h1>
						          <ol class="breadcrumb">
						            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
						            <li class="active">HomePage</li>
						          </ol>
						</section>
						<!-- Main Content -->
						<section class="content">
						          <%= yield %>
						</section>
	      			</div>
			    
					<%= render 'layouts/footer' %>
				</div>
			<!--	<%= debug(params) if Rails.env.development? %> -->
			<!-- base js -->
			<script src="/assets/jQuery-2.1.4.min.js"></script>
		    <script src="/assets/jquery-ui.min.js"></script>
		    <script>
		      $.widget.bridge('uibutton', $.ui.button);
		    </script>
		    <script src="/assets/bootstrap.min.js"></script>
		    <script src="/assets/raphael-min.js"></script>
		    <script src="/assets/morris.min.js"></script>
		    <script src="/assets/jquery.sparkline.min.js"></script>
		    <script src="/assets/jquery.knob.js"></script>
		    <script src="/assets/moment.min.js"></script>
		    <script src="/assets/daterangepicker.js"></script>
		    <script src="/assets/bootstrap-datepicker.js"></script>
		    <script src="/assets/jquery.slimscroll.min.js"></script>
		    <script src="/assets/fastclick.min.js"></script>
		    <script src="/assets/app.min.js"></script>
			<script src="/assets/bootbox.min.js"></script>

</body>
</html>
